/* Add your custom CSS below */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-link {
  font-size: 1.1rem;
}

.dropdown-toggle {
  font-size: 1.1rem;
  font-weight: 500;
}

.dropdown-item {
  font-size: 1rem;
}

#search-input {
  font-size: 1.1rem;
  width: 300px;
  padding: 6px 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-right: 10px;
}

#search-btn {
  font-size: 1.1rem;
  background-color: #28a745;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

#search-btn:hover {
  background-color: #218838;
}

.container {
  max-width: 1500px;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.badge {
  font-size: 1rem;
  color: white;
}

.btn-link {
  color: white;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: none;
}

.card-header {
  background-color: #000000d0;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.card-body {
  font-size: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: none;
  box-shadow: none;
}

/* Make sure that the accordion is left-aligned */
.accordion {
  margin-left: 0;
}


